<!DOCTYPE html>
<html lang="en">
  <head>
    <title>graphical</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div id="colors" class="hide">
      <button id="a" data-color="rgba(240, 30, 80, 0.8)"></button>
      <button id="b" data-color="rgba(40, 150, 220, 0.8)"></button>
      <button id="c" data-color="rgba(10, 200, 110, 0.8)"></button>
      <button id="d" data-color="rgba(220, 220, 10, 0.8)"></button>
    </div>
    <div id="note" class="hide">
      <p>
        A realtime, collaborative sketchpad with a grid
      </p>
      <p>
        <a href="https://github.com/ednapiranha/graphical/tree/glitch">github</a>
      </p>
    </div>
    <div id="actions" class="hide">
      <button id="erase">erase</button>
    </div>
    <canvas id="sketch-panel"></canvas>
  </body>
</html>
