body {
  background-color: rgb(1, 1, 1);
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(20, 100, 150, 0.5) 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

button {
  border: 2px solid #f0f;
  padding: 5px 20px;
  font-size: 2rem;
  color: rgba(20, 225, 220, 0.8);
  border-radius: 1px;
}

button#new-btn {
  position: absolute;
  margin: 5px;
  padding-top: 30px;
  padding-left: 100px;
  color: rgba(100, 1, 200, 0.5);
  background-color: rgba(55, 255, 255, 0.8);
  z-index: 10;
}

#note {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgba(255, 10, 200, 0.5);
}

#colors {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.hide {
  display: none; 
}

#colors button, #grid {
  font-size: 0px; 
  height: 30px;
  width: 30px;
  padding: 0;
  border: 2px solid transparent;
  display: inline-block;
}

#a {
  background-color: rgba(240, 30, 80, 0.8);
}

#b {
  background-color: rgba(40, 150, 220, 0.8);
}

#c {
  background-color: rgba(10, 200, 110, 0.8);
}

#d {
  background-color: rgba(220, 220, 10, 0.8);
}

#colors .on {
  border: 2px solid #f0f; 
}

#sketch-panel {
  background-color: transparent;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}